
CandyAlienGame/Assets/Sprites/fires.png
CandyAlienGame/Assets/Sprites/fires.png.meta
CandyAlienGame/UserSettings/EditorUserSettings.asset
CandyAlienGame/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
CandyAlienGame/UserSettings/Layouts/default-2021.dwlt
CandyAlienGame/UserSettings/EditorUserSettings.asset
CandyAlienGame/UserSettings/Layouts/CurrentMaximizeLayout.dwlt
CandyAlienGame/UserSettings/Layouts/default-2021.dwlt
